<%= link_to notification.action_path,
  id: dom_id(notification),
  class: "d-flex flex-column p-2 notification-wrapper",
  data: {
    "notification-seen": notification.seen
  } do %>
  <div class="d-flex flex-align-end f4 wsp">
    <%= notification_text(notification) %>
  </div>

  <span class="f6 gray">
    <%= time_ago_in_words notification.created_at %>
    ago
  </span>
<% end %>
