<div id="clearance" class="panel">
  <div class="box p-5 mb-3">
    <h2 class="center-align">Sign up for Playmate</h2>
    <%= render partial: '/users/form' %>
  </div>

  <div class="f5 center-align">
    Have an account?
    <%= link_to t(".sign_in"), sign_in_path, class: "link" %>
  </div>
</div>
