$black: #000;
$white: #fff;
$gray: #bfbfbf;
$green: #2da562;
$orange: #fa6449;
$red: #eb5757;
$blue: #1b6ac9;

$bg-color: #f6f2ef;
$border-color: $gray;
$hover-bg: rgba(255, 255, 255, 0.5);

// Font size
$tiny: 12px;
$small: 14px;
$medium: 17px;
$big: 24px;
$huge: 32px;

$input-radius: 4px;
$small-border-radius: 4px;
$box-radius: 10px;

$box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.05), 0 1px 4px rgba(0, 0, 0, 0.1),
  0 10px 30px #f3ece8;
$btn-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
