.posts-list {
  width: 800px;
  margin: auto;
}

.post {
  padding: 10px 15px;
  border: 1px solid $border-color;
  border-radius: $box-radius;
  width: 100%;
  margin-bottom: 20px;
  background: $white;
  box-shadow: $box-shadow;
}
