<% if @posts.empty? %>
  <%= render partial: "posts/empty_state" %>
<% else %>
  <div class="posts-list">
    <h1>Posts</h1>
    <%= render partial: "posts/post", collection: @posts %>
    <%= paginate @posts %>
  </div>
<% end %>
