<div class="empty-state">
  <%= embedded_svg "svg/children_playing.svg", class: "empty-state-image mb-4" %>
  <div class="f3 bold">Nothing there!</div>
  <div class="f4">You didn&apos;t apply for any game yet</div>
</div>
