<div class="empty-state">
  <%= embedded_svg "svg/children_playing.svg", class: "empty-state-image mb-4" %>
  <div class="f3 bold">Create your first post</div>
  <div class="f4">Find game buddies in the blink of an eye</div>
</div>
