<div class="empty-state">
  <%= embedded_svg "svg/not_found.svg", class: "empty-state-image mb-4" %>
  <div class="f3 bold">Nothing there!</div>
  <div class="f4">We couldn't find any matching posts</div>
</div>
