<div class="post-form">
  <% @post.errors.full_messages.each do |error| %>
    <div><%= error %></div>
  <% end %>

  <%= form_for @post do |form| %>
    <%= render partial: "form", object: form %>

    <div class="submit-field">
      <%= form.submit %>
    </div>
  <% end %>
</div>
