<div class="container">
  <h2 class="center-align">Create post</h2>

  <hr class="thick">

  <%= form_for @post, html: { class: "form" } do |form| %>
    <%= render partial: "form", object: form %>

    <div class="submit-button">
      <%= form.submit "Create", class: "action-button primary" %>
    </div>
  <% end %>
</div>
