.post {
  padding: 10px 15px;
  border: 1px solid #d9dbe0;
  border-radius: 10px;
  width: 600px;
  margin-bottom: 20px;

  .owner-details {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
  }

  .description {
    font-size: 16px;
    padding: 8px 0;
  }

  .details {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 14px;

    .details-field {
      padding-right: 10px;
    }
  }

  .actions {
    margin-top: 8px;
    padding-top: 4px;
    border-top: 1px solid #d9dbe0;
  }
}
