<% if @post.interested_users.count > 0 %>
  <div class="f3 bold mb-2">Interested</div>

  <div class="box p-3">
    <% @post.interested_users.each do |user| %>
      <div class="d-flex flex-align-center">
        <div class="mr-2">
          <%= render partial: "users/user_avatar", locals: { user: user } %>
        </div>
        <%= link_to user.name, profile_path(user), class: "f4 bold" %>
      </div>
    <% end %>
  </div>
<% end %>
