<div class="sidebar">
  <div class="sidebar-header">
    <%= user.display_name %>
  </div>
  <div class="sidebar-content">
    <%= link_to "Home", root_path %>
    <%= link_to "New post", new_post_path %>
    <%= link_to "Sign out", sign_out_path, method: :delete %>
  </div>
</div>
